<article data-user-id="<%= message.user.id %>">
  <strong><img src="<%= message.user.profilephoto.url %>" style="width:40px;height:40px; border-radius:90px" />&nbsp;<%= message.user.meta.name %></strong>
    &nbsp;<em><%= message.message_time %></em>
  <br><br>
  <p><%= message.body %></p>

</article>
