<style>
div.container {
    width: 85%;
    margin: auto;
}

</style>

<div class="container">

  <div class="row">
    <div class="col-xs-3">
      <div class="panel panel-default" >
        <div class="panel-heading"><center><strong><%= @user.meta.name %></strong></center></div>
        <div class="panel-body">
          <center><div class="photo"><img src="<%= @user.profilephoto %>" style="width:150px; height:150px; border-radius: 90px"><br><br></div></center>
            <%if user_signed_in? and @user.id == current_user.id %>
              <% if !@user.profilephoto.blank? %><br>
                <center><a href="<%= remove_user_photo_path(@user.id) %>" \>REMOVE PHOTO</a></center><% end %>
              <%else%>
                <center>
                <%if user_signed_in? %>
                  <a href="<%= chat_rooms_path(sender_id: current_user.id, receiver_id: @user.id) %>" class="btn btn-info btn-sm" data-method="post">MESSAGE</a>
                  <%end%>
                </center><br>
              <%end%>
           
            <table class="table">
              <tr><th>EMAIL: </th><td><%= @user.email %></td></tr>
              
              <%if user_signed_in? and @user.id == current_user.id %>
                <tr><th>BIRTH DATE: </th><td><%= @user.meta.birth_date %></td></tr>
                <tr><th>ADDRESS: </th><td><%= @user.meta.address%></td></tr>
              <% end %>

              <tr><th>PHONE NUMBER: </th><td><%= @user.meta.phone%></td></tr>

                <% if (@user.id != current_user.id) and (@user.meta_type == "Farmer")  %>
                <tr><th>COMPANY: </th><td><%= @user.meta.company_name%></td></tr>
                <tr><th>COMPANY NUMBER: </th><td><%= @user.meta.company_phone%></td></tr>
                <%end%>

              <tr>
                <td colspan="2" align="right">
                  <%if user_signed_in? and @user.id == current_user.id %>
                   <a href="<%= edit_user_registration_path %>" class="btn btn-primary btn-sm" style="color:white"><span class="glyphicon glyphicon-pencil"></span>Edit Profile</a>
                  <%end%>
                </td>
             </tr>
           </table>
         </div>
       </div>
     </div>

     <!--Create Status -->

     <!--Farm -->
     
     <div class="col-xs-6">
     <% if @user.meta_type == "Farmer" %>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">My Farm</div>
            <div class="panel-body" align="center">
             

              <% if @user.meta_type == "Farmer" and @user.meta.farmsite.present? %>
                      <h3><a href="<%= farmsite_path(id: @user.meta.farmsite.id) %>"><%= @user.meta.farmsite.farmsitename %></a></h3>
              <%end%>

                <% if user_signed_in? and @user.id == current_user.id %>
                    <% unless @user.meta_type == "Farmer" and @user.meta.farmsite.present? %>
                      no farm yet<hr>
                        <%= link_to 'Create Farm', new_farmsite_path , class: "btn btn-success btn-sm" , data: {turbolinks: false}, remote: true %>        
                  <% end %>
                <% end %>

            </div>
          </div>
        </div>
      </div>
      <% end %>

      <%if user_signed_in? and @user.id == current_user.id %>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">Status</div>
            <div class="panel-body">
              <%= form_for [current_user, Wallpost.new], url: user_views_profile_path(id:current_user.id), method: :post do |f|%>
              
               <%= f.submit 'Post', class: "btn btn-success btn-md pull-right"%>
               
              <%= f.bootsy_area :wall_status, as: :bootsy,size: "5x5", editor_options: { blockquote: false, font_styles: false , emphasis: false, lists: false, color: false }, class: 'form-control', placeholder:"What's on your mind?" %>
              <br>
             
              <%end%>

            </div>
          </div>
        </div>
      </div>
      <%end%>
      <!--Status-->
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">Wall Post</div>
            <div class="panel-body">
              <p align="">
             


                        <% @wallposts.each do |wallpost| %><br>
                            <div class="panel panel-default">
                              <div class="panel-body">
                                <div class="panel panel-default">
                                  <div class="panel-heading" style="background-color:powderblue;">
                                    <div class="row">
                                      <div class="col-sm-2">
                                        <img src="<%= wallpost.user.profilephoto %>" class="img-circle" alt="Cinque Terre" width="80" height="80">&nbsp;
                                      </div>
                                      <div class="col-sm-8">  
                                        <span>
                                          <h4>
                                            <a href="<%= user_views_profile_path(id: wallpost.user_id)%>"><%= wallpost.user.meta.name %></a>
                                            <small><%= wallpost.created_at.strftime("%d/%m/%y at %l:%M %p") %></small> 
                                          </h4>
                                        </span>
                                        <%if user_signed_in? and (wallpost.user.id == current_user.id) %>
                                          <span>
                                            <%= link_to edit_wallpost_path(wallpost), data: {remote: true} do %>
                                              <i class="glyphicon glyphicon-pencil"></i>
                                            <% end %>
                                            &nbsp;&nbsp;&nbsp;
                                            <%= link_to wallpost, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                              <i class="glyphicon glyphicon-remove"></i>
                                            <% end %>
                                          </span>  
                                        <%end%>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel-body">
                                    <br><h4><%= raw wallpost.wall_status %></h4><br>
                                  </div>
                                </div>
                                <div id="comments">
                                  <h3><%= wallpost.comments.count%> Comments</h3> 
                                  <%if !user_signed_in? %>
                                    <em>Please login to comment</em>
                                  <%end%>
                                  <% if wallpost.comments.present? %>
                                    <button onclick='toogle_div_fun("<%= wallpost.id%>");'>View Comments</button>
                                  <%end%>
                                  <br></br>
                                  <div id="<%= wallpost.id%>" style="display: none">
                                    <% wallpost.comments.each do |comment|%>
                                      <div class="panel panel-default" style="padding:5px" >
                                        <div class="row">
                                          <div class="col-sm-1">
                                            <img src="<%= comment.user.profilephoto %>" class="img-circle" alt="Cinque Terre" width="50" height="50">&nbsp;
                                          </div>
                                          <div class="col-sm-11">
                                            <b>
                                              <span>
                                                <h4>
                                                  <a href="<%= user_views_profile_path(id: wallpost.user_id)%>"><%= wallpost.user.meta.name %></a>
                                              </span>
                                            </b>
                                            <%if user_signed_in? and comment.user.id == current_user.id %>
                                              <span style="float:right;text-align:right">
                                                <%= link_to edit_comment_path(comment), data: {remote: true} do%> 
                                                  <i class="glyphicon glyphicon-pencil"></i>
                                                <%end%>
                                                <%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                                  <i class="glyphicon glyphicon-remove"></i>
                                                <%end%>
                                              </span>
                                            <%end%>
                                            <span>
                                              <%= comment.comment_message %>
                                            </span>
                                            <br><br>
                                            <span>
                                              <small>
                                                <%= comment.created_at.strftime("%d/%m/%y at %l:%M %p") %>
                                              </small>
                                            </span>
                                            <br>
                                          </div>
                                        </div>
                                      </div>
                                    <% end %>
                 
                                  </div>

                                  <%if user_signed_in? %>
                                    <%@comment = wallpost.comments.new %>
                                      <%= simple_form_for(@comment) do |f| %>
                                      
                                        <div class="form-inputs">
                                          <%= f.input :wallpost_id , as: :hidden %>
                                          <%= f.input :comment_message, label: "Comment" %>
                                        </div>

                                        <div class="form-actions">
                                          <%= f.button :submit, class: "btn btn-success btn-sm pull-right", label: false ,value: "Comment"%>

                                            <%#= f.button :submit, class: "btn btn-success btn-sm pull-right", label: false ,value: "Comment"%>
                                        </div>
                                        <br></br>
                                      <% end %>
                                  <%end%>
                                </div>
                              </div>
                            </div>
                          <%end%>





                <hr>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--Wall -->
    <!--Box -->
    <div class="col-xs-3">
      <div class="row">
        <div class="col-xs-12">



          <div class="panel panel-default">
            <div class="panel-heading">Following 
              <%if @user.id == current_user.id %>
                (<a href="<%= friendships_path %>">View All</a>) 
              <% end%>
            </div>
            <div class="panel-body">
              <%if current_user.friends.exists? %>
                  <table>

                    <%  @friends.each do |friend| %>
                      <tr><td>
                      
                      <img src="<%= friend.friend.profilephoto %>" style="width:25px; height:25px; border-radius: 90px">
                      
                      <a href="<%= user_views_profile_path(id:friend.friend_id)%>"><%= friend.friend.meta.name%>
                        
                      </a></td> </tr>
                    <% end%>

                  </table>

              <%else%>

                  No Friend :( .
                  <br>
                  <%if @user.id == current_user.id %>
                  <a href="<%= friendships_path %>">Add Now!</a>
                  <% end %>

              <%end%>

              <%= will_paginate @friends, renderer: BootstrapPagination::Rails %>
            </div>
          </div>

         

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%if user_signed_in? and @user.id == current_user.id %>
          <div class="panel panel-default">
            <div class="panel-heading">Message Inbox</div>
            <div class="panel-body">
              <%if !@chat_rooms.blank? %>
              <table class="table">
                <% @chat_rooms.each do |chat_room| %>
                <% if chat_room.sender_id == current_user.id || chat_room.receiver_id == current_user.id %>
                <% if chat_room.sender_id == current_user.id %>

                  <% receiver = User.find(chat_room.receiver_id) %>
                <% else %>
                  <% receiver = User.find(chat_room.sender_id) %>
                <% end %>
                <tr>
                  <td><a href="<%= user_views_profile_path(id: receiver.id)%>"><%= receiver.meta.name %></a></td>
                  <td><a href="<%= chat_room_path(chat_room.id)%>" data-method="get" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-envelope"></span></a></td>

                </tr>
                <% end %>
                <% end %>
                <tr>
                  <td colspan="2"><a href="<%= chat_rooms_path %>"> VIEW ALL CHAT</a></td>
                </tr>
              </table>
              <% else %>
              NO MESSAGE. <a href="<%= chat_rooms_path %>"> CHAT NOW!</a>
              <%end%>
            </div>
          </div>
          <%end%>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
    <!--Box -->
  </div>
</div>
