<div class="container">
  <br>
  <div class="row">
      <div class="col-xs-3">
          <div class="panel panel-default">
            <div class="panel-heading"><center><strong><%= @user.name %></strong></center></div>
            <div class="panel-body">
              <center><div class="photo"><img src="<%= @user.profilephoto %>" style="width:150px; height:150px; border-radius: 90px">
                <%if @user.id == current_user.id %><% if !@user.profilephoto.blank? %><br><a href="<%= remove_user_photo_path(@user.id) %>" \>Remove Photo</a><% end %><%end%>
              <br><br><strong style="text-transform:capitalize"><%= @user.role %></strong></div></center>
              <br>
              <table class="table">
              <th>Email: </th>
              <td><%= @user.email %></td>
              </tr>
              <tr>
              <th>Date Of Birth: </th>
              <td><%= @user.birth_date %></td>
              </tr>
              <tr>
              <th>Address: </th>
              <td><%= @user.address %></td>
              </tr>
              <tr>
              <th>Phone no:</th>
              <td><%= @user.phone_no %></td>
              </tr>
              <tr>
              <td colspan="2" align="right"><%if @user.id == current_user.id %><a href="<%= edit_user_registration_path %>" class="btn btn-primary" style="color:white"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit Profile</a><%end%></td>
              </tr>
              </table>
            </div>
          </div>
      </div>
      <!--Status -->
      <div class="col-xs-6">
        <%if @user.id == current_user.id %>
        <div class="row">
            <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">Status</div>
              <div class="panel-body">
                <textarea name="status" placeholder="What's on your mind?" class="form-control"></textarea>
                <br>
                <div align="right"><input type="submit" name="submit" value="Post" class="btn btn-primary" /></div>
              </div>
            </div>
          </div>
        </div>
        <%end%>
        <!--Status -->
        <div class="row">
            <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">Wall Post</div>
              <div class="panel-body">
                <p align="center">No post</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--Wall -->
      <!--Box -->
      <div class="col-xs-3">
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">Friends</div>
              <div class="panel-body">
                No Friend :( .<br><%if @user.id == current_user.id %><a href="#">Add Now!</a><% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%if @user.id == current_user.id %>
            <div class="panel panel-default">
              <div class="panel-heading">Message Inbox</div>
              <div class="panel-body">
                <%if !@chat_rooms.blank? %>
                <table class="table">
                <% @chat_rooms.each do |chat_room| %>
                <% if chat_room.sender_id == current_user.id || chat_room.receiver_id == current_user.id %>
                      <% if chat_room.sender_id == current_user.id %>
                        <% receiver = User.find(chat_room.receiver_id) %>
                      <% else %>
                        <% receiver = User.find(chat_room.sender_id) %>
                      <% end %>
                      <tr>
                      <td><a href="<%= user_views_profile_path(id: receiver.id)%>"><%= receiver.name %></a></td>
                      <td><a href="<%= chat_room_path(chat_room.id)%>" data-method="get" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-envelope"></span></a></td>
                    </tr>
                     <% end %>
                    <% end %>
                <tr>
                  <td colspan="2"><a href="<%= chat_rooms_path %>"> View All Chat</a></td>
                </tr>
              </table>
                <% else %>
                No message. <a href="<%= chat_rooms_path %>"> Chat Now!</a>
                <%end%>
              </div>
            </div>
            <%end%>
          </div>
        </div>
        <div class="row">
        </div>
      </div>
      <!--Box -->
  </div>
</div>
