<center>
<%= simple_form_for(@bid) do |f| %>
  <%= f.error_notification %>


  <div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
      <div class="well">
        <div class="panel panel-default">
          <div class="panel-body">

  <div class="form-inputs">
    <%= f.input :produce_id, collection: current_broker.produces, label_method: :producename%>
    <%= f.input :start_time, :input_html => { :value => Date.today}, autofocus: true, class:'form-control', id: 'datetimepicker4'%>
    <%= f.input :end_time :input_html => { :value => Date.today}, autofocus: true, class:'form-control', id: 'datetimepicker4'%>
    <%= f.input :start_price, input_html: { min: 0 } %>
    <%= f.input :max_price, input_html: { min: 0 } %>
  </div>
</div>
</div>

<center><div class="actions">
<%= f.submit 'Create',class: 'btn btn-lg btn-success'%>
</div></center>

<% end %>
</div>
</div>
<div class="col-sm-1"></div>
</div>
</center>