<center>

  <div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">

    </div>
    <table class=" table table-striped custab " width="50">
     <div class="col-sm-12"><h1>List Bids</h1></div>
     <thead>

      <tr>

        <th>Status</th>
        <th>Broker</th>
        <th>Produce Name</th>
        <th>Quantity (KG)</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Start price (RM)</th>
        <th>Last price (RM)</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Highest Bid Price (RM)</th>
        <th>Winner</th>


      </tr>
    </thead>

    <tbody>
      <% @bids.each do |bid| %>
      <tr>

        <td><%= bid.bid_status %></td>

        <td><%= bid.broker.name %></td>
        <td><%= bid.produce.producename if bid.produce.present? %></td>
        <td><%= bid.produce.producequantity if bid.produce.present? %></td>
        <td><%= bid.start_time.strftime('%d %B %Y at %l:%M %p') %></td>
        <td><%= bid.end_time.strftime('%d %B %Y at %l:%M %p') %></td>
        <td><%= bid.start_price %></td>
        <td><%= bid.max_price %></td>


        <div class="btn-group btn-group-xs">
          <td><%= link_to 'See ', bid_processes_path(bid_id: bid.id), class:"btn btn-primary" %></td>


            <% if bidder_signed_in? %>

            <td><% if bid.bid_status == "On"  %><%= link_to 'Bid Now', new_bid_process_path(bid_id: bid.id), class:"btn btn-info"%><%end%></td>
            <td><% if bid.bid_status == "On"  %><%= link_to 'Buy Now', purchase_bids_path(bid_id: bid.id), class:"btn btn-warning"%><%end%></td>

            <%end%>

          </td>
          <% if !broker_signed_in? and !bidder_signed_in? %>
            <td></td>
            <td></td>
          <%end%>

          <% if broker_signed_in? and bid.broker==current_broker %>

          <td><%= link_to edit_bid_path(bid), class: "btn btn-primary" do %><i class= "glyphicon glyphicon-edit"></i>Edit<%end %></td>

          <td><%= link_to bid, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %> <i class= "glyphicon glyphicon-remove"></i> Remove<%end%></td>

          <%end%>
        </div>
        <% if broker_signed_in? and bid.broker!=current_broker %><td></td><td></td><%end%>


        <td><%= bid.bid_processes.maximum(:price) if bid.bid_processes.present? %></td>


        <td>
          <% if bid.bid_status == "Off" %>
          <%= bid.bid_processes.order(:price).last.bidder.name rescue nil%>
          <%end%>
        </td>

      </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <% if broker_signed_in? %><%= link_to 'New Bid', new_bid_path, class: "btn btn-success" %><%end%>

</div>
</center>
