<center>
  <div class="container">
    <div class="row">
      <div class="col-sm-12"><h1>Bids</h1></div>
    </div>
<table class="table table-bordered" width="50">
  <thead>
    <tr>
      <th>Bid status</th>
      <th>Day</th>
      <th>Broker</th>
      <th>Produce</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Start price</th>
      <th>Bid now:</th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= bid.bid_status %></td>
        <td><%= bid.day %></td>
        <td><%= bid.broker.name %></td>
        <td><%= bid.produce.producename %></td>
        <td><%= bid.start_time %></td>
        <td><%= bid.end_time %></td>
        <td><%= bid.start_price %></td>
        <% if bidder_signed_in? %>
        <% if Time.now < bid.start_time and Time.now < bid.end_time %>
        <td><%= link_to 'new', new_bid_process_path%></td>
        <% end %>
        <% end %>
        <% if broker_signed_in? %>
        <td><%= link_to 'Show', bid %></td>
        <td><%= link_to 'Edit', edit_bid_path(bid) %></td>
        <td><%= link_to 'Destroy', bid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if broker_signed_in? %><%= link_to 'New Bid', new_bid_path %><%end%>
</div>
</center>
