<center>
<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
      <div class="well">
        <div class="panel panel-default">
          <div class="panel-body">

<p>
  <strong>Bid status:</strong>
  <%= @bid.bid_status %>
</p>

<p>
  <strong>Produce:</strong>
  <%= @bid.produce.producename  %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @bid.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @bid.end_time %>
</p>

<p>
  <strong>Start price:</strong>
  <%= @bid.start_price %>
</p>

<p>
  <strong>Max price:</strong>
  <%= @bid.max_price %>
</p>


<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>


</div>
</div>
<div class="col-sm-1"></div>
</div>

</center>
