<%= simple_form_for(@state) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

<<<<<<< HEAD
  <div class="form-actions">
    <%= f.button :submit %>
=======
  <div class="actions">
    <%= f.submit 'submit', class:"btn btn-primary"  %>
>>>>>>> 793f6f30a323e0d1c12de750859255d27d8cd464
  </div>
<% end %>