<div id="maincontainer">
  <br><br><br>


  <div class="row"> 
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <form class="form-inline">
        
        <!-- Choose State -->
        <div class="form-group">
          <select name="state" id="state_select" class="form-control" style="background-color:gold;">
            <option value="">ANY STATE </option> 
            <%= State.each do |s| %>
            <option value="<%= s %>"><%= s %></option>
            <% end %>
          </select>
        </div>

        <!-- Choose City -->
        <div class="form-group">
          <select name="city" id="city_select" class="form-control" style="background-color:gold;">
            <option value="">ANY CITY </option> 
          </select>
        </div>

        <div class="form-group">
          <select name="city" id="search_concept" class="form-control" style="background-color:gold;">
            <option value="">SEARCH BY </option>
            <option value="Produce">PRODUCE </option>
            <option value="Farmsite">FARMSITE </option>
          </select>
        </div>

         <!-- Choose Produce/Farmsite
        <div class="form-group">
          <button type="button" class="form-control" data-toggle="dropdown">
            <span id="search_concept">Search by</span> <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" role="menu">
            <li><a data-turbolinks="false" href="#">Produce </a></li>
            <li class="divider"></li>
            <li><a data-turbolinks="false" href="<%= farmsites_path %>">Farmsite </a></li>
          </ul>
      </div> -->

      <!-- Type Produce Name / Farmsite Name -->
      <input type="hidden" name="search_param" value="all" id="search_param">         
      <input type="text" class="form-control" style="background-color:khaki;" id = "params_search" name="x" placeholder="Produce Name / Farmsite Name">

      <!-- Search button -->
      <span class="form-group">
        <button class="form-control" style="background-color:gold;" type="button" id="button_search"><span class="glyphicon glyphicon-search"></span></button>
      </span>

      </form>
  </div><!-- Close Column -->

</div><!-- Close Row -->



  <!-- Text -->
  <marquee behavior="alternate" scrollamount="10" direction="up">
    <center>
      <h1 style="font-family:Georgia"> ~ Welcome to TaniMall ~ </h1>
      <p><font size="5" color="white">Sign Up and Join Us Now!</font></p>
    </center>
  </marquee>


</div><!-- Close Container -->

<!-- <div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-3">

    <p>
      <strong>About Us:</strong>
      <br>
      TaniMall is an innovative and exciting auction site in Malaysia. We sell fresh products from the farms like vegetables, fruits, flowers, meat, grain, poultry, dairy product and seafood.
    </p>
  </div>

  <div class="col-lg-3">
    <p>
      <strong>Address:</strong>
      <br>
      TaniMac Co.(@Waldania Group)
      <br>
      BLOCK 3730,PERSIARAN APEC,
      <br>
      63000 CYBERJAYA,
      <br>
      SELANGOR, MALAYSIA.
      <br>
    </p>
  </div>

  <div class="col-lg-4">
  </p>
  <strong>Contact:</strong>
  <br>
  Phone : +6012-5903983 (Ridzuan) or +6013-4015799 (Fitri) 
  <br>
  Email : customersupport@tanimac.com
</p>
</div>
<div class="col-lg-1"></div>
</div> -->

<!-- 

      <select name="state" id="state_select" class="btn btn-default dropdown-toggle" >
          <option value="">Any State</option>
          <%= State.each do |s| %>
          <option value="<%= s %>"><%= s %></option>
          <% end %>
        </select>
       

        
        <select name="city" id="city_select" class="btn btn-default dropdown-toggle">
        </select>
      -->

      <script>

        $("#button_search").click(function(){
          searching_for_data();
        });


        $("#params_search").keypress(function(e){
          if(e.which == 13){searching_for_data();}

        });

        function searching_for_data(){


          var params_search = $("#params_search").val();
          var search_concept = $("#search_concept").val()
          var city = $("#city_select").val();
          var state = $("#state_select").val();

           //alert(state);

          if(search_concept == "PRODUCE"){
            Turbolinks.visit("/produces?search=" + params_search + "&state=" + state + "&city=" + city );
          //
          }
          if(search_concept == "FARMSITE"){
            Turbolinks.visit("/farmsites?search=" + params_search + "&state=" + state + "&city=" + city);
          }
        }

city = <%= raw(City.to_json) %>

$('#state_select').change(function(){
    //show alert
  //alert ($('#farmsite_farmsitestate').val())
  //array city(#farmsite_farmsitesstate)
  console.log( city[ $('#state_select').val() ] )
  //remove first element in arary
  city[ $('#state_select').val() ].shift();
  //loop 
  $("#city_select").html("")
  $("#city_select").append("<option value=''> ANY CITY </option>")
  $.each( city[ $('#state_select').val() ],  function(i,v){
    console.log(v)
  //append list sume dalam array selain guna html
  $("#city_select").append("<option value='" + v + "'> " + v + "</option>")
}) 
});

</script>



