<div class="container">
<br>
<div class="row">
  <div class="col-sm-12">
    <h2>What's Happening Now</h2>
  </div>
</div><!-- row 1 -->
<br>
<div class="row">
  <% @bids.each do |bid| %>

  <div class="col-sm-4">
    <div class="panel panel-default">
    <center>
      <img src="http://labourware.com/wp-content/uploads/2016/02/L-Logo.jpg" class="img-responsive" style="width:200px" alt="Image">
    </center>
    <h4 align="center">Item: <%= bid.produce.producename %><br><% if bid.bid_status == "On" %>
    <font style="color:green"><em> Open Now!</em></font>
    <%else%>
    <font style="color:red"><em> Closed!</em></font>
    <%end%></h4>
    <table class="table" style="height: 200px">
    <tr>
    <th>Created by: </th> <td><%= bid.broker.name %></td>
  </tr>
  <tr>
    <th>Item Weight: </th> <td><%= bid.produce.producequantity %></td>
  </tr>
  <tr>
    <th>Start Time: </th><td><%= bid.start_time %></td>
  </tr>
  <tr>
    <th>End Time: </th> <td><%= bid.end_time %></td>
  </tr>
  <tr>
    <th>Start Price: </th> <td>RM <%= bid.start_price %></td>
  </tr>
  </table>
  </div>
  </div>
  <% end %>

</div> <!-- row 2 -->
</div><!-- container -->
