<div class="container">
  <br>
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">People</div>
        <div class="panel-body">
          <table class="table">
            <% @users.each do |user|%>
            <%if !@friends.include?(user.id) %>
            <tr>

              <td><img src="<%= user.profilephoto %>" style="width:25px; height:25px; border-radius: 90px"><%= user.meta.present? ? user.meta.name : user.meta_type%></a></td>
              <td><a class="btn btn-success btn-sm" href="<%= friendships_path(:friend_id => user.id)%>" data-method="<%= :post %>">Follow</a></td>
            </tr>
            <%end%>
            <%end%>
          </table>
          <center><%= will_paginate @users, renderer: BootstrapPagination::Rails %></center>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">Friends (<%= current_user.friends.count %> people)</div>
        <div class="panel-body">
          <table class="table">
            <% for friend in current_user.friends %>
            <tr><td><a href="<%= user_views_profile_path(id:friend.id)%>"><%= friend.meta.name %></a>
            </td></tr>
            <%end%>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
