<div class="container">
  <br>
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">People</div>
        <div class="panel-body">
          <table class="table">
            <% @users.each do |user|%>
            <%if !@friends.include?(user.id) %>
            <tr>
              <td><a href="<%= user_views_profile_path(id: user.id)%>"><%= user.meta.name%></a></td>
              <td><a class="btn btn-success" href="<%= friendships_path(:friend_id => user.id)%>" data-method="<%= :post %>">Follow</a></td>
            </tr>
            <%end%>
            <%end%>
          </table>
          <center><%= will_paginate @users, renderer: BootstrapPagination::Rails %></center>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">Friends</div>
        <div class="panel-body">
          <table class="table">
            <% for friend in current_user.friends %>
            <tr><td><p><a href="<%= user_views_profile_path(id:friend.id)%>"><%= friend.meta.name %></a></p></td></tr>
            <%end%>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
