<div class = "modal-dialog modal-md" > 
  <div class = "modal-content" > 

    <center>
      <%= simple_form_for(@bid_process) do |f| %>
      <%= f.error_notification %>

      <div class = "modal-header" >
        <h4 class = "modal-title" >Bid Process</h4>
      </div>
      <div class = "modal-body" >


        <div class="well">
          <div class="panel panel-default">
            <div class="panel-body">
              
              <div class="form-inputs">

                
                
                <%= f.association :bid, as: :string, as: :hidden, value_method: :id, label_method: :id, readonly: true%>
                <%= f.input :price, input_html: { min: 0 }%>
              </div>

            </div>
          </div>
        </div>

        <center><div class="actions">
          <%= f.submit 'Create',class: 'btn btn-lg btn-success'%>
        </div></center>
      </div>
      <% end %>
      <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>


    </center>
  </div>
</div>