<center>
<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>Bid Processes</h1></div>
  </div>

<table class="table table-bordered" width="50">
  <thead>
    <tr>
      <th>Bid</th>
      <th>Bidder</th>
      <th>Price</th>
      <th>Bidding time</th>
    </tr>
  </thead>

  <tbody>
    <% @bid_processes.each do |bid_process| %>
      <tr>
        <td><%= bid_process.bid.id %></td>
        <td><%= bid_process.bidder.name %></td>
        <td><%= bid_process.price %></td>
        <td><%= bid_process.created_at %></td>
        <td><%= link_to 'Show', bid_process %></td>
        <td><%= link_to 'Edit', edit_bid_process_path(bid_process) %></td>
        <td><%= link_to 'Destroy', bid_process, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if bidder_signed_in? %><%= link_to 'New Bid Process', new_bid_process_path %><%end%>
</div>
</center>
