<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @bid_process.price %>
</p>

<p>
  <strong>Bidding time:</strong>
  <%= @bid_process.bidding_time %>
</p>

<%= link_to 'Edit', edit_bid_process_path(@bid_process) %> |
<%= link_to 'Back', bid_processes_path %>
