<center>
<p id="notice"><%= notice %></p>

<p>
  <strong>Bid:</strong>
  <%= @bid_process.bid.id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bid_process.price %>
</p>

<p>
  <strong>Bidding time:</strong>
  <%= @bid_process.created_at.strftime('%d %B %Y at %l:%M %p')%>
</p>



<% bid = @bid_process.bid %>
<%= link_to 'Back', bid_processes_path(bid_id: bid.id), class: "btn btn-default" %>

</center>
