

<div class = "modal-dialog modal-lg" >
  <div class = "modal-content" >

    <%= simple_form_for(@wallpost) do |f| %>
      <% if @wallpost.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(wallpost.errors.count, "error") %> prohibited this wallpost from being saved:</h2>
          <% @wallpost.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </div>
      <% end %>

    <div class = "modal-header" >
      <center><h4 class = "modal-title" >NEWS</h4></center>
    </div>
 
    <div class = "modal-body" >
      <div class="well well-sm" style="background-color:#e1f5fe;">
        <h4>What's New ? </h4>
     
            <div class="form-group" style="padding:14px;">
            <div class="form-actions">
              <%= f.button :submit, class: "btn btn-success btn-md pull-right" ,value: "Edit Post"%>
            </div>
              <div class="form-inputs">
                <%#= f.input :wall_status ,placeholder: "What you think..." , class:"col-lg-12" ,label: false%>
                <%= f.input :wall_status, as: :text,input_html: {cols: 6,rows: 6}, label: false , as: :bootsy, editor_options: { blockquote: false, font_styles: false , emphasis: false, lists: false, color: false }  ,placeholder:"What thing to share?"%>
              </div><br>
            
        
      </div>
    </div>
  
    <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
    <% end %>
  </div>
</div>

<%#footer%>
</div>

<script >
  Bootsy.init();
</script>