<style>
div.container {
    width: 95%;
    margin: auto;

}

</style>

<div class="container">
<!--<h1 align="center">Wall</h1> -->
<% @wallpost = Wallpost.new %>

<% if user_signed_in? %>
<%#= render "wallposts/form", :wallpost => @wallpost %>
<%= simple_form_for(@wallpost) do |f| %>
<div class="row">
   <div class="col-sm-3"></div>
   <div class="col-sm-6">.
    <div class="well well-lg" style="background-color:#e1f5fe;">
      <h3>What's New ? </h3>
              <div class="form-actions">
                <%= f.button :submit, class: "btn btn-success btn-md pull-right" ,value: "Create Post"%>
        
              </div>
              <div class="form-inputs">
                <%= f.input :wall_status, as: :text,input_html: {cols: 6,rows: 6}, label: false , as: :bootsy, editor_options: { blockquote: false, font_styles: false , emphasis: false, lists: false, color: false } ,:placeholder => "Write Somethings?"%>
              </div>
          <% end %>
       
      </div>
    </div>

    <div class="col-sm-3"></div>
</div>
<%end%>


    <div class="row">
 
        <div class="col-sm-3"></div>

        <div class="col-sm-6">
          <br>
          <% @wallposts.each do |wallpost| %><br>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="panel panel-default">
                  <div class="panel-heading" style="background-color:powderblue;">
                    <div class="row">
                      <div class="col-sm-2">
                        <img src="<%= wallpost.user.profilephoto %>" class="img-circle" alt="Cinque Terre" width="80" height="80">&nbsp;
                      </div>
                      <div class="col-sm-8">  
                        <span>
                          <h4>
                            <a href="<%= user_views_profile_path(id: wallpost.user_id)%>"><%= wallpost.user.meta.name %></a>
                            <small><%= wallpost.created_at.strftime("%d/%m/%y at %l:%M %p") %></small> 
                          </h4>
                        </span>
                        <%if user_signed_in? and (wallpost.user.id == current_user.id) %>
                          <span>
                            <%= link_to edit_wallpost_path(wallpost), data: {remote: true} do %>
                              <i class="glyphicon glyphicon-pencil"></i>
                            <% end %>
                            &nbsp;&nbsp;&nbsp;
                            <%= link_to wallpost, method: :delete, data: { confirm: 'Are you sure?' } do %>
                              <i class="glyphicon glyphicon-remove"></i>
                            <% end %>
                          </span>  
                        <%end%>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <br><h4><%= raw wallpost.wall_status %></h4><br>
                  </div>
                </div>
                <div id="comments">
                  <h3><%= wallpost.comments.count%> Comments</h3> 
                  <%if !user_signed_in? %>
                    <em>Please login to comment</em>
                  <%end%>
                  <% if wallpost.comments.present? %>
                    <button onclick='toogle_div_fun("<%= wallpost.id%>");'>View Comments</button>
                  <%end%>
                  <br></br>
                  <div id="<%= wallpost.id%>" style="display: none">
                    <% wallpost.comments.each do |comment|%>
                      <div class="panel panel-default" style="padding:5px" >
                        <div class="row">
                          <div class="col-sm-1">
                            <img src="<%= comment.user.profilephoto %>" class="img-circle" alt="Cinque Terre" width="50" height="50">&nbsp;
                          </div>
                          <div class="col-sm-11">
                            <b>
                              <span>
                                <h4>
                                  <a href="<%= user_views_profile_path(id: wallpost.user_id)%>"><%= comment.user.meta.name %></a>
                              </span>
                            </b>
                            <%if user_signed_in? and comment.user.id == current_user.id %>
                              <span style="float:right;text-align:right">
                                <%= link_to edit_comment_path(comment), data: {remote: true} do%> 
                                  <i class="glyphicon glyphicon-pencil"></i>
                                <%end%>
                                <%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                  <i class="glyphicon glyphicon-remove"></i>
                                <%end%>
                              </span>
                            <%end%>
                            <span>
                              <%= comment.comment_message %>
                            </span>
                            <br><br>
                            <span>
                              <small>
                                <%= comment.created_at.strftime("%d/%m/%y at %l:%M %p") %>
                              </small>
                            </span>
                            <br>
                          </div>
                        </div>
                      </div>
                    <% end %>
 
                  </div>

                  <%if user_signed_in? and current_user.id %>
                    <%@comment = wallpost.comments.new %>
                      <%= simple_form_for(@comment) do |f| %>
                      
                        <div class="form-inputs">
                          <%= f.input :wallpost_id , as: :hidden %>
                          <%= f.input :comment_message, label: "Comment" %>
                        </div>

                        <div class="form-actions">
                          <%= f.button :submit, class: "btn btn-success btn-sm pull-right", label: false ,value: "Comment"%>

                            <%#= f.button :submit, class: "btn btn-success btn-sm pull-right", label: false ,value: "Comment"%>
                        </div>
                        <br></br>
                      <% end %>
                  <%end%>
                </div>
              </div>
            </div>
          <%end%>
        </div>


       
        <div class="col-sm-3"></div>
    </div>
</div>

