
<style>
#mapCanvas {
  width: 400px;
  height: 300px;
  float: left;
}
#infoPanel {
  float: left;
  margin-left: 10px;
}
#infoPanel div {
  margin-bottom: 5px;
}
</style>

<div class = "modal-dialog modal-lg" > 
  <div class = "modal-content" > 
    
    <%= simple_form_for(@farmsite) do |f| %>
    <% if @farmsite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farmsite.errors.count, "error") %> prohibited this farmsite from being saved:</h2>

      <% @farmsite.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </div>
    
    <% end %>

    <div class = "modal-header" >
      <center><h4 class = "modal-title" >Farm Site</h4></center>
    </div>
    
    <div class = "modal-body" >
      <div class="row">
        <div class="well">
          <div class="panel panel-default">
            
            <div class="panel-body">
<<<<<<< HEAD
            <div class="row">
            <div class="col-sm-6">
              <div class="form-inputs">
                
                <%= f.label "Name:" %>
                <%= f.text_field :farmsitename, :class => "form-control", :placeholder => "Farm name" %>
=======
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-inputs">
                    
                    <%= f.label "Name:" %>
                    <%= f.text_field :farmsitename, :class => "form-control", :placeholder => "Farm name" %>

                    <%= f.label "Size:" %>
                    <%= f.text_field :farmsitesize, :class => "form-control", :placeholder => "Farm size in acres" %>
                    <span class="input-group-addon" id="basic-addon2">acres</span>


                    <%= f.label "Latitude:" %>
                    <%= f.text_field :latitude, :class => "form-control", :placeholder => "Farm address" %>

                    <%= f.label "Longitude:" %>
                    <%= f.text_field :longitude, :class => "form-control", :placeholder => "Farm address" %>

                    <%= f.label "Address:" %>
                    <%= f.text_area :farmsiteaddress, :class => "form-control", :placeholder => "Farm address" %>
                  </div> </div>

>>>>>>> d894ac4fe08e7bd023b111aff13ce7632c36f598

                <%= f.label "Size:" %>
                <%= f.text_field :farmsitesize, :class => "form-control", :placeholder => "Farm size in acres" %>
                <span class="input-group-addon" id="basic-addon2">acres</span>

                <%= f.label "Number Phone:" %>
                <%= f.text_field :farmsiteownerphoneno, :class => "form-control", :placeholder => "no phone" %>
              

                <%= f.label "Latitude:" %>
                <%= f.text_field :latitude, :class => "form-control", :placeholder => "Farm address" %>

                <%= f.label "Longitude:" %>
                <%= f.text_field :longitude, :class => "form-control", :placeholder => "Farm address" %>

<<<<<<< HEAD
                <%= f.label "Address:" %>
                <%= f.text_area :farmsiteaddress, :class => "form-control", :placeholder => "Farm address" %>
              </div> </div>
            <div class="col-sm-6">
              <%= f.label "Find Farm Location:" %>

                <div id="mapCanvas"></div>
                  <div id="infoPanel">
                  <b>Marker status:</b>
                  <div id="markerStatus"><i>Click and drag the marker.</i></div>
                  <b>Current position:</b>
                  <div id="info"></div>
                  <b>Closest matching address:</b>
                  <div id="address"></div>      
                </div>
=======
                  <div class="col-sm-6">

                    <%= f.label "Find Farm Location:" %>
                    
                    <head>
                      <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
                      <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                    </head>

                    <body>
                      <div id="mapCanvas"></div>
                      <div id="infoPanel">
                        <b>Marker status:</b>
                        <div id="markerStatus"><i>Click and drag the marker.</i></div>
                        <b>Current position:</b>
                        <div id="info"></div>
                        <b>Closest matching address:</b>
                        <div id="address"></div>      
                      </body>
                      
                      <div>
                      </div>
                    </body>
                  </div>
>>>>>>> d894ac4fe08e7bd023b111aff13ce7632c36f598
                </div>
              </div>
            </div>
          </div>
          

          <center><div class="actions">
            <%= f.submit 'Create',class: 'btn btn-lg btn-success'%>
          </div></center>

          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
  </div>
</div>
<<<<<<< HEAD
=======
</div>
>>>>>>> d894ac4fe08e7bd023b111aff13ce7632c36f598





<<<<<<< HEAD
<script type="text/javascript">

$( document ).ready(function() {
    alert("hello");


    var geocoder = new google.maps.Geocoder();

    function geocodePosition(pos) {
        geocoder.geocode({
            latLng: pos
        }, function(responses) {
            if (responses && responses.length > 0) {
                updateMarkerAddress(responses[0].formatted_address);
            } else {
                updateMarkerAddress('Cannot determine address at this location.');
            }
        });
    }

    function updateMarkerStatus(str) {
        document.getElementById('markerStatus').innerHTML = str;
    }

    function updateMarkerPosition(latLng) {
        document.getElementById('info').innerHTML = [
            latLng.lat(),
            latLng.lng()
        ].join(', ');
    }

    function updateMarkerAddress(str) {
        document.getElementById('address').innerHTML = str;
    }

    function initialize() {
        var latLng = new google.maps.LatLng(-34.397, 150.644);
        var map = new google.maps.Map(document.getElementById('mapCanvas'), {
            zoom: 8,
            center: latLng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var marker = new google.maps.Marker({
            position: latLng,
            title: 'Point A',
            map: map,
            draggable: true
        });

        // Update current position info.
        updateMarkerPosition(latLng);
        geocodePosition(latLng);

        // Add dragging event listeners.
        google.maps.event.addListener(marker, 'dragstart', function() {
            updateMarkerAddress('Dragging...');
        });

        google.maps.event.addListener(marker, 'drag', function() {
            updateMarkerStatus('Dragging...');
            updateMarkerPosition(marker.getPosition());
        });

        google.maps.event.addListener(marker, 'dragend', function() {
            updateMarkerStatus('Drag ended');
            geocodePosition(marker.getPosition());
        });

        //google.maps.event.trigger(map, "resize");
    }

    // Onload handler to fire off the app.
    initialize();
  });

</script>


=======
<style>
  #mapCanvas {
    width: 400px;
    height: 300px;
    float: left;
  }
  #infoPanel {
    float: left;
    margin-left: 10px;
  }
  #infoPanel div {
    margin-bottom: 5px;
  }
</style>

<script type="text/javascript">
  var geocoder = new google.maps.Geocoder();

  function geocodePosition(pos) {
    geocoder.geocode({
      latLng: pos
    }, function(responses) {
      if (responses && responses.length > 0) {
        updateMarkerAddress(responses[0].formatted_address);
      } else {
        updateMarkerAddress('Cannot determine address at this location.');
      }
    });
  }

  function updateMarkerStatus(str) {
    document.getElementById('markerStatus').innerHTML = str;
  }

  function updateMarkerPosition(latLng) {
    document.getElementById('info').innerHTML = [
    latLng.lat(),
    latLng.lng()
    ].join(', ');
  }

  function updateMarkerAddress(str) {
    document.getElementById('address').innerHTML = str;
  }

  function initialize() {

    var latLng = new google.maps.LatLng(3.064736330699356, 101.5243415298462);
    var map = new google.maps.Map(document.getElementById('mapCanvas'), {
      zoom: 6,
      center: latLng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var marker = new google.maps.Marker({
      position: latLng,
      title: 'Your Location',
      map: map,
      draggable: true
    });

                    // Update current position info.
                    updateMarkerPosition(latLng);
                    geocodePosition(latLng);

                    // Add dragging event listeners.
                    google.maps.event.addListener(marker, 'dragstart', function() {
                      updateMarkerAddress('Dragging...');
                    });

                    google.maps.event.addListener(marker, 'drag', function() {
                      updateMarkerStatus('Dragging...');
                      updateMarkerPosition(marker.getPosition());
                    });

                    google.maps.event.addListener(marker, 'dragend', function() {
                      updateMarkerStatus('Drag ended');
                      geocodePosition(marker.getPosition());
                    });
                  }

                  // Onload handler to fire off the app.
                  google.maps.event.addDomListener(window, 'load', initialize);

                </script>
>>>>>>> d894ac4fe08e7bd023b111aff13ce7632c36f598
