
<style>
#mapCanvas {
  width: 400px;
  height: 300px;
  float: left;
}
#infoPanel {
  float: left;
  margin-left: 10px;
}
#infoPanel div {
  margin-bottom: 5px;
}
</style>

<div class = "modal-dialog modal-lg" > 
  <div class = "modal-content" > 
  
    <%= simple_form_for(@farmsite) do |f| %>
    <% if @farmsite.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(farmsite.errors.count, "error") %> prohibited this farmsite from being saved:</h2>

        <% @farmsite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </div>
    
    <% end %>

    <div class = "modal-header" >
      <center><h4 class = "modal-title" >Farm Site</h4></center>
    </div>
    
    <div class = "modal-body" >
      <div class="row">
        <div class="well">
          <div class="panel panel-default">
            
            <div class="panel-body">
            <div class="row">
            <div class="col-sm-6">
              <div class="form-inputs">
                
                <%= f.label "Name:" %>
                <%= f.text_field :farmsitename, :class => "form-control", :placeholder => "Farm name" %>

                <%= f.label "Size:" %>
                <%= f.text_field :farmsitesize, :class => "form-control", :placeholder => "Farm size in acres" %>
                <span class="input-group-addon" id="basic-addon2">acres</span>

                <%= f.label "Number Phone:" %>
                <%= f.text_field :farmsiteownerphoneno, :class => "form-control", :placeholder => "no phone" %>
              

                <%= f.label "Latitude:" %>
                <%= f.text_field :latitude, :class => "form-control", :placeholder => "Farm address" %>

                <%= f.label "Longitude:" %>
                <%= f.text_field :longitude, :class => "form-control", :placeholder => "Farm address" %>

                <%= f.label "Address:" %>
                <%= f.text_area :farmsiteaddress, :class => "form-control", :placeholder => "Farm address" %>
              </div> </div>
            <div class="col-sm-6">
              <%= f.label "Find Farm Location:" %>

                <div id="mapCanvas"></div>
                  <div id="infoPanel">
                  <b>Marker status:</b>
                  <div id="markerStatus"><i>Click and drag the marker.</i></div>
                  <b>Current position:</b>
                  <div id="info"></div>
                  <b>Closest matching address:</b>
                  <div id="address"></div>      
                </div>
                </div>
              </div>
            </div>
          </div>
    

        <center><div class="actions">
          <%= f.submit 'Create',class: 'btn btn-lg btn-success'%>
        </div></center>

        <% end %>
      </div>
    </div>
    </div>
    <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
  </div>
</div>





<script type="text/javascript">


</script>