<%= simple_form_for(@farmsite) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :size %>
    <%= f.input :address %>
    <%= f.input :ownername %>
    <%= f.input :ownerphoneno %>
    <%= f.input :district_id %>
    <%= f.input :broker_id %>

<<<<<<< HEAD
      <ul>
      <% farmsite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %></div>
      </ul>
    </div>
  <% end %>
  <div class="well">
<div class="row">
   <div class="col-sm-5"></div>
      <div class="col-sm-7">.


<div class="field">
  <%= f.label :district_id  %>
  <div class="col-lg-12"%>
  <%= f.collection_select(:district_id ,District.all,:id,:name,{:prompt=>"Please Select"})%>
 </div>
 </div>


<div class="field">
  <%= f.label :broker_id %>
  <div class="col-lg-12"%>
  <%= f.collection_select(:broker_id,Broker.all,:id,:name,{:prompt=>"Please Select"})%>
 </div>
 </div>


<div class="field">
    <%= f.label :farmsitename %>
    <%= f.text_field :farmsitename %>
  </div>


  <div class="field">
    <%= f.label :farmsitesize %>
    <%= f.number_field :farmsitesize %>
  </div>

  <div class="field">
    <%= f.label :farmsiteaddress %>
    <%= f.text_area :farmsiteaddress %>
  </div>

  <div class="field">
    <%= f.label :farmsiteownername %>
    <%= f.text_field :farmsiteownername %>
  </div>

  <div class="input-group input-group-lg ">
 <%= f.label :farmsiteownerphoneno %>
 <p> Farm number </p>
 <%= f.text_field :farmsiteownerphoneno, :class => "form-control", :placeholder => "Phone number" %>
  </dir>

    <div class="actions">
    <%= f.submit 'Create',class: 'btn btn-lg btn-success'%>
  </div>
<% end %>
</div>
      </div>  
  <div class="col-sm-1"></div>
</div>

