<%= form_for(farmsite) do |f| %>
  <% if farmsite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farmsite.errors.count, "error") %> prohibited this farmsite from being saved:</h2>

      <% farmsite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %></div>
      </ul>
    </div>
  <% end %>


      <div class="row">
        <div class="col-sm-4"></div>
       
            <div class="col-sm-4">
                <div class="well">
              <div class="panel panel-default">
                <div class="panel-body">
            


                <div class="field">
                  <%= f.label "Broker" %>
                  <div class="input-group input-group-lg " %>
                  <%= f.collection_select(:broker_id,Broker.all,:id,:name,{:prompt=>"Please Select"},{:class => "form-control"})%>
                  </div>
                  </div>



                  <div class="input-group input-group-lg col-md-10">
                    <%= f.label "Name:" %>
                   <%= f.text_field :farmsitename, :class => "form-control", :placeholder => "Farm name" %>
                    </div>


                    <%= f.label "Size:" %>
                    <div class="input-group input-group-lg col-md-10">
                    <%= f.text_field :farmsitesize, :class => "form-control", :placeholder => "Farm size in acres" %>
                    <span class="input-group-addon" id="basic-addon2">acres</span>
                    </div>

               
                   <div class="input-group input-group-lg col-md-10">
                    <%= f.label "Address:" %>
                   <%= f.text_area :farmsiteaddress, :class => "form-control", :placeholder => "Farm address" %>
                    </div>



                    <div class="input-group input-group-lg col-md-10">
                    <%= f.label "Owner name:" %>
                   <%= f.text_field :farmsiteownername, :class => "form-control", :placeholder => "Owner name" %>
                    </div>




                    <div class="input-group input-group-lg col-md-10">
                    <%= f.label "Phone number :" %>
                   <%= f.text_field :farmsiteownerphoneno, :class => "form-control", :placeholder => "Phone number" %>
                    </div>
               </div>
            </div>





                    <center><div class="actions">
                      <%= f.submit 'Create',class: 'btn btn-lg btn-success'%>
                    </div></center>

            <% end %>
               </div>
</div>
    <div class="col-sm-1"></div>
</div>