<h1 align="center">Farms

  <% if user_signed_in? and (current_user.meta_type == "Farmer") and !current_user.meta.farmsite.present? %>

  <%= link_to 'Create Farm', new_farmsite_path , class: "btn btn-success btn-sm" , data: {turbolinks: false}, remote: true %>
  <%end%>
</h1>

<br/>
<!-- left --> 
<div class="row">

<div class="col-md-6" style="width:710px;height:600px;line-height:3em;overflow:scroll;padding:5px;">

  <% @farmsites.each_with_index do |farmsite,i| %>
  <div class='col-md-6 farm-hover' farm-index="<%= i %>">

  <div class="panel panel-default">

    <div class="panel-heading"><center><a style="font-size: 20px;" href="<%= farmsite_path(id: farmsite.id) %>"><%= farmsite.farmsitename %></a></center></div>

      <div class="panel-body">

        <%= image_tag farmsite.avatar.url, class: "img-responsive",style: "height:200px;"%> 

        <table class="table">

          <tr><th><strong>Company: </strong></th><td><a href="<%= user_views_profile_path(id: farmsite.farmer.user.id)%>"><%= farmsite.farmer.user.meta.company_name %></td></tr>
          <tr><th><strong>Location: </strong></th><td><%= farmsite.farmsitecity %>, <%= farmsite.farmsitestate %></td></tr><br>
          
          

        </table>
        </div>
    </div>
  </div> 

  <%end%>
</div>

<div id="multi_markers" style=' width: 700px; height: 600px;'></div>


</div>





<script >

  tmps = []
  var handler = Gmaps.build('Google');

  handler.buildMap({ internal: {id: 'multi_markers'}}, 
    function(){

      // var markers = handler.addMarkers(<%=raw @hash.to_json %> );
      <% @hash.each do |m| %>
        tmp = handler.addMarker(<%= raw m.to_json %>)
        tmps.push(tmp)
      <% end %>
      test = handler
      console.log(handler)
      handler.bounds.extendWith(tmps);
      handler.fitMapToBounds();
    });

  $(function () {

    $("#average").rateYo({
      rating: "<%=@review_average%>",
      readOnly: true
    });
  });

  $(".farm-hover").hover( 
    function(e){ 
      console.log( $(this).attr("farm-index") )
      console.log( tmps[$(this).attr("farm-index")] )
      tmps[$(this).attr("farm-index")].setIcon( "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FEEEEE" )
    }
  ) 

  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(youAreHere);
  } else {

  }

  function youAreHere(position){
    handler.addMarker({lat: position.coords.latitude, lng: position.coords.longitude, infowindow: "You are here" })
  }

</script>

<!-- <div class="row">
    <div class="col-md-12">
      <center><%= will_paginate @bids, renderer: BootstrapPagination::Rails %></center>
    </div>
  </div> 
  -->



<!--
<center>
  <div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    </div>
    <div class="col-sm-12"><h1>List Farm</h1></div>

    <table class=" table table-striped custab " id="dttb">


      <thead>
        <tr>
          <th>Farm Name</th>
          <th>Farms Size(Acres)</th>
          <th>Farm Address</th>
          <th>Farm Phoneno</th>
          <th>Farm owner</th>
          <th>Farm Produce</th>
          <th width="14%"></th>
        </tr>
      </thead>

      <tbody>
        <% @farmsites.each do |farmsite| %>
        <tr>
          <td><a href="<%= farmsite_path(id: farmsite.id) %>"><%= farmsite.farmsitename %></td>
          <td><%= farmsite.farmsitesize %></td>
          <td><%= farmsite.farmsiteaddress %></td>
          <td><%= farmsite.farmsiteownerphoneno %></td>
          <td><a href="/user_views/profile?id=<%= farmsite.farmer.user.id %>"><%= farmsite.farmer.name%></a></td>
          <td >
            <%= link_to produces_path(farmsite_id: farmsite.id)  , data: {turbolinks: false} , class: "btn btn-info btn-sm" do %><i class= "glyphicon glyphicon-open">  </i> Produce <% end %>
          </td>


          <td>
            <% if user_signed_in? %>
            <% if current_user.meta_type == "Farmer" and farmsite.farmer == current_user.meta %>

            <%= link_to edit_farmsite_path(farmsite)   , class: "btn btn-primary btn-sm", remote: true  do %><i class= "glyphicon glyphicon-edit"> </i> Edit <% end %>

            <%= link_to  farmsite, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-sm" do %> <i class= "glyphicon glyphicon-remove">  </i> Remove<% end %>
            <%end%>
            <%end%>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>


    <% if user_signed_in? and (current_user.meta_type == "Farmer")%>

    <%= link_to 'Create Farm', new_farmsite_path , class: "btn btn-success btn-sm" , data: {turbolinks: false}, remote: true %>
    <%end%>

  </center></div>

-->
<!-- 
<script >

  tmps = []
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_markers'}}, 
    function(){

      // var markers = handler.addMarkers(<%=raw @hash.to_json %> );
      <% @hash.each_with_index do |m,i| %>
        var marker<%= i %> = new google.maps.Marker({
            position: new google.maps.LatLng(<%= m[:lat] %>, <%= m[:lng] %> ),
            map: handler,
            id: <%= i %>,
            title: "some marker"
        });
        tmps.push(marker<%= i %>);
        // tmp = handler.addMarker(<%= raw m.to_json %>)
      <% end %>
      test = handler
      console.log(handler)
      handler.bounds.extendWith(tmps);
      handler.fitMapToBounds();

    });

  $(function () {

    $("#average").rateYo({
      rating: "<%=@review_average%>",
      readOnly: true
    });
  });

  $(".farm-hover").hover( 
    function(e){ 
      console.log( $(this).attr("farm-index") )
      console.log( tmps[$(this).attr("farm-index")] )
      tmps[$(this).attr("farm-index")].setIcon( "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FEEEEE" )
    }
  ) 

</script> -->