<h1 align="center">Farms

  <% if user_signed_in? and (current_user.meta_type == "Farmer") and !current_user.meta.farmsite.present? %>

  <%= link_to 'Create Farm', new_farmsite_path , class: "btn btn-success btn-sm" , data: {turbolinks: false}, remote: true %>
  <%end%>
</h1>

<br/>
<!-- left --> 
<div class="row">
<div class="col-sm-1"></div>
 <div class="col-sm-5">
  <% @farmsites.each do |farmsite| %>


  <div class="panel panel-default">

    <div class="panel-heading"><center><h4><%= farmsite.farmsitename %></h4></center></div>

    <div class="panel-body">

      <%= image_tag farmsite.avatar.url,class: "img-responsive",style: "height:200px;"%> 

      <br/>

      <table class="table">

        <tr><th><strong>Company: </strong></th><td><a href="<%= user_views_profile_path(id: farmsite.farmer.user.id)%>"><%= farmsite.farmer.user.meta.company_name %></td></tr>
        <tr><th><strong>Location: </strong></th><td><%= farmsite.farmsitecity %>, <%= farmsite.farmsitestate %></td></tr><br>
        <div id="average"><%if farmsite.reviews.present? %> STARS <%= farmsite.reviews.count %> reviews<%end%></div>
        

      </table>

      <div align="right"><a class="btn btn-warning btn-sm" href="<%= farmsite_path(id: farmsite.id) %>">Details</a></div>




    </div>
  </div>
  <%end%>

</div>

<div id="multi_markers" style=' width: 580px; height: 600px;'></div>

</div>






<script >

  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_markers'}}, 
    function(){

      var markers = handler.addMarkers(<%=raw @hash.to_json %> );
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();

    });

  $(function () {

    $("#average").rateYo({
      rating: "<%=@review_average%>",
      readOnly: true
    });
  });

</script>

<!-- <div class="row">
    <div class="col-md-12">
      <center><%= will_paginate @bids, renderer: BootstrapPagination::Rails %></center>
    </div>
  </div> -->



<!--
<center>
  <div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    </div>
    <div class="col-sm-12"><h1>List Farm</h1></div>

    <table class=" table table-striped custab " id="dttb">


      <thead>
        <tr>
          <th>Farm Name</th>
          <th>Farms Size(Acres)</th>
          <th>Farm Address</th>
          <th>Farm Phoneno</th>
          <th>Farm owner</th>
          <th>Farm Produce</th>
          <th width="14%"></th>
        </tr>
      </thead>

      <tbody>
        <% @farmsites.each do |farmsite| %>
        <tr>
          <td><a href="<%= farmsite_path(id: farmsite.id) %>"><%= farmsite.farmsitename %></td>
          <td><%= farmsite.farmsitesize %></td>
          <td><%= farmsite.farmsiteaddress %></td>
          <td><%= farmsite.farmsiteownerphoneno %></td>
          <td><a href="/user_views/profile?id=<%= farmsite.farmer.user.id %>"><%= farmsite.farmer.name%></a></td>
          <td >
            <%= link_to produces_path(farmsite_id: farmsite.id)  , data: {turbolinks: false} , class: "btn btn-info btn-sm" do %><i class= "glyphicon glyphicon-open">  </i> Produce <% end %>
          </td>


          <td>
            <% if user_signed_in? %>
            <% if current_user.meta_type == "Farmer" and farmsite.farmer == current_user.meta %>

            <%= link_to edit_farmsite_path(farmsite)   , class: "btn btn-primary btn-sm", remote: true  do %><i class= "glyphicon glyphicon-edit"> </i> Edit <% end %>

            <%= link_to  farmsite, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-sm" do %> <i class= "glyphicon glyphicon-remove">  </i> Remove<% end %>
            <%end%>
            <%end%>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>


    <% if user_signed_in? and (current_user.meta_type == "Farmer")%>

    <%= link_to 'Create Farm', new_farmsite_path , class: "btn btn-success btn-sm" , data: {turbolinks: false}, remote: true %>
    <%end%>

  </center></div>

-->
