<center>
<p id="notice"><%= notice %></p>

<h1>List Farm</h1>

<table class="table table-bordered" width="50">
  <thead>
    <tr>
      <th>Farm Name</th>
      <th>Farms Size</th>
      <th>Farm Address</th>
      <th>Farm owner</th>
      <th>Farm Phoneno</th>
      <th>Broker Name</th>
    </tr>
  </thead>

  <tbody>
    <% @farmsites.each do |farmsite| %>
      <tr>
        <td><%= farmsite.farmsitename %></td>
        <td><%= farmsite.farmsitesize %></td>
        <td><%= farmsite.farmsiteaddress %></td>
        <td><%= farmsite.farmsiteownername %></td>
        <td><%= farmsite.farmsiteownerphoneno %></td>
        <td><%= farmsite.broker_id %></td>


        <% if broker_signed_in? %>
        <td><%= link_to 'Show', farmsite %></td>
        <td><%= link_to 'Edit', edit_farmsite_path(farmsite) %></td>
        <td><%= link_to 'Destroy', farmsite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if broker_signed_in? %><%= link_to 'New Farm', new_farmsite_path %><%end%>
</center>