<center>
<p id="notice"><%= notice %></p>


<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
     
    </div>
<table class=" table table-striped custab " width="50">
     <div class="col-sm-12"><h1>List Farm</h1></div>
  <thead>
    <tr>
      <th>Farm Name</th>
      <th>Farms Size(Acres)</th>
      <th>Farm Address</th>
      <th>Farm owner</th>
      <th>Farm Phoneno</th>
      <th>Broker Name</th>
      <th>Farm Produce</th>
      <th colspan="3"></th> 
    </tr>
  </thead>

  <tbody>
    <% @farmsites.each do |farmsite| %>
      <tr>
        <td><%= farmsite.farmsitename %></td>
        <td><%= farmsite.farmsitesize %></td>
        <td><%= farmsite.farmsiteaddress %></td>
        <td><%= farmsite.farmsiteownername %></td>
        <td><%= farmsite.farmsiteownerphoneno %></td>
        <td><%= farmsite.broker.name%></td>
            <td><%= link_to 'Produce', produces_path(farmsite_id: farmsite.id) , class: "btn btn-info" %></td>
        <% if broker_signed_in? and farmsite.broker==current_broker %>
        <td><%= link_to edit_farmsite_path(farmsite)   , class: "btn btn-primary" do %> 
          <i class= "glyphicon glyphicon-edit">  </i> Edit
            <% end %></td>

        <td><%= link_to  farmsite, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" do %> <i class= "glyphicon glyphicon-remove">  </i> Remove
            <% end %>
          </td>

        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if broker_signed_in? %><%= link_to 'Create Farm', new_farmsite_path , class: "btn btn-success" %><%end%>

</center></div>

