<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>




<!-- left -->                      
<div class="row">
  <div class="col-sm-1"></div>
  <!-- first --> 
  <div class="col-sm-5">

    <div class="panel panel-default">
      <div class="panel-thumbnail">


        <center><%= image_tag @farmsite.avatar.url,class: "img-responsive",style: "height:250px;"%></center>
           
          
        </div>
    </div>

<!-- second --><!--Carousel --><!--
<div class="panel panel-default">
  <div class="panel-heading">List Produces</div>
  <div class="panel-body">
    
    
    <% if @farmsite.produces.present? %>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <% @farmsite.produces.each_with_index do |produce,index| %>
        <div class="item <%= 'active' if index == 0 %>">
          <%= image_tag produce.avatar.url,class: "img-responsive",style: "height:300px;"%>
          <div class="carousel-caption">
            <h1><a href="<%= produce_path(id: produce.id) %>" style="color:white"><%= produce.producename %></h1>
            </div>
          </div>
          <% end %>
          
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <% else %>
      <div align="center">
        No Produces Available.
      </div>
      <% end %>
      <br>




      <% if user_signed_in? and @farmsite and @farmsite.farmer == current_user.meta and  @farmsite.present?  %>
    <%= link_to 'Add Produce', new_produce_path(farmsite_id: @farmsite.id) , class: "btn btn-success btn-sm pull-right" , data: {turbolinks: false}, remote: true %>
    <%end%>



    </div>

  </div> 
  <!--Carousel -->

<div class="panel panel-default">
  <div class="panel-heading">List Produces</div>
  <div class="panel-body" >

      <% @produces.each_with_index do |produce,i| %>
    <a href="<%= produce_path(id: produce.id) %>">

      <div class='col-md-4 produce-hover' produce-index="<%= i %>" produce-id="<%= produce.id %>">

        <div class="panel panel-default">

        <!--   <div class="panel-heading"><center><h4><%= produce.producename %></h4></center></div> -->

          <!-- <div class="panel-body"> -->

            <div align="center"><%= image_tag produce.avatar.url,class: "img-responsive",style: "height:200px;"%> <!-- </div> -->
            <div align="center"><h4><%= produce.producename %></h4></div>
           <!--  <table class="table">

              <tr><th><strong>Farm: </strong></th><td><%= @farmsite.farmsitename %></td></tr>
              <tr><th><strong>Company: </strong></th><td><%= @farmsite.farmer.user.meta.company_name %></td></tr>
              <tr><th><strong>Location: </strong></th><td><%= @farmsite.farmsitecity %>, <%= produce.farmsite.farmsitestate %></td></tr>

            </table> -->
            
          </div>
        </div>
      </div>
      </a>
    <%end%> 

 

    </div><div align="center"><%= will_paginate @produces, renderer: BootstrapPagination::Rails %></div>
    </div>







    <!-- third <%#= link_to "Add Review", new_farmsite_review_path(@farmsite) %></br> --> 
    <div class="panel panel-default">

      <div class="panel-heading"></a>Review</div>
        <div class="panel-body">
          <% @reviews = @farmsite.reviews %>
            <%@reviews.each do | review| %>

              <% @review = review %><br>
                <%if @reviews.count != 0 %>
                  
                    <% @review_average = @reviews.sum(:rating) / @reviews.count %>

                     <div class="row">
 
                        <div class="col-sm-2">
                            <center><img src="<%= review.user.profilephoto %>" class="img-circle" alt="Cinque Terre" width="70" height="70">&nbsp; <a href="<%= user_views_profile_path(id: @review.user.id)%>">
                        <%= @review.user.meta.name %></a></div>  </center>                      
                        <div class="col-sm-6">
                            <%= render "reviews/show" , :review => @review%></div></div>
                       
                    
                    <%end%>
                   <hr>
                <%end%>   


                <% if (current_user.present? and (current_user.meta_type == "Farmer" and @farmsite.farmer_id != current_user.meta.id)) or ((current_user.present?) and current_user.meta_type == "Bidder")%>
                    <%unless @farmsite.reviews.find_by(user_id: current_user.id).present? %>

                  
                        <%= simple_form_for([@farmsite, @farmsite.reviews.build]) do |f| %>
                        <div class="form-inputs">
                              <%= f.label "Rating" %>
                              <div id="rateYo"></div>
                              <%= f.input :rating ,:as => :hidden %>
                              <%= f.input :comment %>
                        </div>

                        <div class="form-actions">
                       
                              <%= f.button :submit %>
                        </div>
                       
                        <% end %>
                    <%end%>
                <%end%>
                <script>

                    $(function () {
                     
                      $("#rateYo").rateYo({
                     
                        onSet: function (rating, rateYoInstance) {
                     
                          //alert("Rating is set to: " + rating);
                          $("#review_rating").val(rating)
                        }
                      });
                    });

                </script>
        </div>
      </div>

    </div>


<!-- right --> 
<div class="row">
  <div class="col-sm-6"></div>

  <!-- first --> 
  <div class="col-sm-5">
    <div class="panel panel-default">


      <div class="panel-heading"><center><h4><%= @farmsite.farmsitename %></h4></center></div>
      <div class="panel-body">
      <center>
      <img src="<%= @farmsite.farmer.user.profilephoto %>"  class="img-thumbnail" alt="Cinque Terre" width="190" height="190">&nbsp;
     </center>
        <table class="table">
         <tr><th><strong>Farmer: </strong></th><td><a href="<%= user_views_profile_path(id: @farmsite.farmer.user.id)%>"><%= @farmsite.farmer.user.meta.name %></td></tr></a><br>

          <tr><th><strong>Farm Address: </strong></th><td><%= @farmsite.farmsiteaddress %></td></tr>
          <tr><th><strong>Farm Size: </strong></th><td><%= @farmsite.farmsitesize %> acres</td></tr>          
          <tr><th><strong>Farm Company: </strong></th><td><%= @farmsite.farmer.user.meta.company_name %></td></tr>
          <tr><th><strong>Company Contact: </strong></th><td><%= @farmsite.farmer.user.meta.company_phone %></td></tr>
          <tr><th><strong>Farm Description: </strong></th><td><%= @farmsite.farmsitedescription %></td></tr>
         
        <tr><th><strong><p>Avarage Rating</p> </th><td>
                  <div id="average"></div><br>
                  </strong><span>Based on <%= @farmsite.reviews.count %> reviews</span></td></tr>
        <br>
        </table>




        <% if user_signed_in? %>
            <% if current_user.meta_type == "Farmer" and @farmsite.farmer == current_user.meta %>
            <div align="right">
              <%= link_to edit_farmsite_path(@farmsite)   , class: "btn btn-primary btn-sm", remote: true  do %><i class= "glyphicon glyphicon-edit" > </i> Edit<% end %>

              <%= link_to  @farmsite, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-sm" do %> <i class= "glyphicon glyphicon-remove">  </i> Remove<% end %>
              </div>
            <%end%>
          <%end%>

      </div>
    </div>

    

      <!-- end right --> 
  
  <!-- third --> 
    <div class="panel panel-default">
      <div class="panel-heading">Farm Location</div>
      <div class="panel-body">
       
 
    <div style='width: 100%;'>
       <div style='length: 100%;'>
      <div id="multi_markers" style=' height: 400px;'></div>
    </div></center>

    <script >
      var handler = Gmaps.build('Google');

      handler.buildMap({ internal: {id: 'multi_markers'} } , function() {
          var marker = handler.addMarker({lat: <%= @farmsite.latitude %>, lng: <%= @farmsite.longitude %>});
          // handler.bounds.extendWith(markers);
          // handler.fitMapToBounds();
          handler.map.centerOn(marker);
        
      } )

    </script>
      </div>
    </div>


  </div>



</div></div></a></div></div></div></div></div>


<script>
/* Javascript */
 
$(function () {
 
  $("#average").rateYo({
    rating: "<%=@review_average%>",
    readOnly: true
  });
});
</script>