
<p id="notice"><%= notice %></p>

<!-- left -->                      
<div class="row">
  <div class="col-sm-1"></div>
  <!-- first --> 
  <div class="col-sm-5">

    <div class="panel panel-default">
      <div class="panel-thumbnail"><%= image_tag @farmsite.avatar.url,class: "img-responsive",style: "height:250px;"%></div>
    </div>

<!-- second --> 

    <div class="panel panel-default">
     <div class="panel-heading">Produces

      <% if user_signed_in? and @farmsite and @farmsite.farmer == current_user.meta and  @farmsite.present?  %>
        <%= link_to 'Add Produce', new_produce_path(farmsite_id: @farmsite.id) , class: "btn btn-success btn-sm pull-right" , data: {turbolinks: false}, remote: true %>
      <%end%>

     </div>
      <div class="panel-body">
    
        <!--Carousel -->
        <% if @farmsite.produces.present? %>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <% @farmsite.produces.each_with_index do |produce,index| %>
              <div class="item <%= 'active' if index == 0 %>">
                <%= image_tag produce.avatar.url,class: "img-responsive",style: "height:300px;"%>
                <div class="carousel-caption">
                 <marquee behavior="alternate" scrollamount="10" direction="up">
                 <center><h1><a href="<%= produce_path(id: produce.id) %>" style="color:white"><%= produce.producename %></h1></center>
                 </marquee>
               </div>

             </div>
           <% end %>
        
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <% else %>
          No Produces
       <% end %>
      <!--Carousel -->



        </div>
      </div>

    <!-- third --> 
    <div class="panel panel-default">
     <div class="panel-heading"></a>Review</div>
     <div class="panel-body">
       <p>Rating: </p><img src="https://cdn4.iconfinder.com/data/icons/badges-and-votes-1/128/Badges_Votes_four_star_rating-22-512.png" class="pull-right" height="42" width="60"> 
       <div class="clearfix"></div>
       <hr>

       <p>Comment reviews</p>

       <hr>
       <form>
        <div class="input-group">
          <div class="input-group-btn">
            <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
          </div>
          <input type="text" class="form-control" placeholder="Add a comment..">
        </div>
      </form>

    </div>
  </div>
  <!-- end left --> 
</div>





<!-- right --> 
<div class="row">
  <div class="col-sm-6"></div>

  <!-- first --> 
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading"><center><h4><%= @farmsite.farmsitename %></h4></center></div>
      <div class="panel-body">
        <table class="table">
          <tr><th> <strong>Size: </strong></th><td><%= @farmsite.farmsitesize %> acres</td></tr>
          <tr><th><strong>Address: </strong></th><td><%= @farmsite.farmsiteaddress %></td></tr>
          <tr><th><strong>Owner: </strong></th><td><%= @farmsite.farmsiteownername %></td></tr>
          <tr><th><strong>Company: </strong></th><td><%= @farmsite.farmer.user.meta.company_name %></td></tr>
          <tr><th><strong>Contact: </strong></th><td><%= @farmsite.farmer.user.meta.company_phone %></td></tr>
          <tr><th><strong>Farmer: </strong></th><td><a href="<%= user_views_profile_path(id: @farmsite.farmer.user.id)%>"><%= @farmsite.farmer.user.meta.name %></td></tr>
          <tr><th><strong>Description: </strong></th><td><%= @farmsite.farmsitedescription %></td></tr>
          <br>
        </table>

        <% if user_signed_in? %>
            <% if current_user.meta_type == "Farmer" and @farmsite.farmer == current_user.meta %>
            <div align="right">
              <%= link_to edit_farmsite_path(@farmsite)   , class: "btn btn-primary btn-sm", remote: true  do %><i class= "glyphicon glyphicon-edit" > </i> Edit<% end %>

              <%= link_to  @farmsite, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-sm" do %> <i class= "glyphicon glyphicon-remove">  </i> Remove<% end %>
              </div>
            <%end%>
          <%end%>

      </div>
    </div>

    

      <!-- end right --> 
  
  <!-- third --> 
    <div class="panel panel-default">
      <div class="panel-heading">Farm Location</div>
      <div class="panel-body">
       
 
    <div style='width: 100%;'>
       <div style='length: 100%;'>
      <div id="multi_markers" style=' height: 400px;'></div>
    </div></center>

    <script >
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
        var markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });

    </script>
      </div>
    </div>

</div></div></a></div></div></div></div></div>

  </div>
