<style>
@import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css') 

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

/* SCSS STYLES */
/*
.funkyradio {

    div {
        clear: both;
        overflow: hidden;
    }

    label {
        width: 100%;
        border-radius: 3px;
        border: 1px solid #D1D3D4;
        font-weight: normal;
    }

    input[type="radio"],
    input[type="checkbox"] {

        &:empty {
            display: none;

            ~ label {
                position: relative;
                line-height: 2.5em;
                text-indent: 3.25em;
                margin-top: 2em;
                cursor: pointer;
                user-select: none;

                &:before {
                    position: absolute;
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 2.5em;
                    background: #D1D3D4;
                    border-radius: 3px 0 0 3px;
                }
            }
        }

        &:hover:not(:checked) ~ label {
            color: #888;

            &:before {
                content: '\2714';
                text-indent: .9em;
                color: #C2C2C2;
            }
        }

        &:checked ~ label {
            color: #777;

            &:before {
                content: '\2714';
                text-indent: .9em;
                color: #333;
                background-color: #ccc;
            }
        }

        &:focus ~ label:before {
            box-shadow: 0 0 0 3px #999;
        }
    }

    &-default {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #333;
                background-color: #ccc;
            }
        }
    }

    &-primary {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #337ab7;
            }
        }
    }

    &-success {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #5cb85c;
            }
        }
    }

    &-danger {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #d9534f;
            }
        }
    }

    &-warning {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #f0ad4e;
            }
        }
    }

    &-info {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #5bc0de;
            }
        }
    }
}
*/

</style>





<%= form_for(produce,html:{multipart: true}) do |f| %>
  <% if produce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produce.errors.count, "error") %> prohibited this produce from being saved:</h2>

      <ul>
      <% produce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="row">
        <div class="col-sm-4"></div>

            <div class="col-sm-4">
                <div class="well">
              <div class="panel panel-default">
                <div class="panel-body">
                 <div class="field">
                  <%= f.label "Farm Name" %>
                  <div class="input-group input-group-lg " %>
                  <%= f.text_field :farmsite_id, value: Farmsite.find(params[:farmsite_id]).farmsitename,:class => "form-control",readonly: true %>
                  </div>
                  </div>


                  <div class="input-group input-group-lg col-md-10">
                    <%= f.label "Name:" %>
                    <%= f.text_field :producename, :class => "form-control", :placeholder => "Product name" %>
                  </div>
                  <br>
                  <div class="input-group input-group-lg col-md-10">
                    <%= f.label "Produce picture:" %>
                    <%= f.file_field :avatar %>
                  </div>
                 <!--  <br>
                  <div class="input-group input-group-lg col-md-10">
                    <%= f.label "Upload Image:" %>
                    <%= f.text_field :produceimage, :class => "form-control", :placeholder => "Add image link" %>
                  </div> -->
               <br>
               <%= f.label "Produce type :" %></br>
                <div class="row">
                      <div class="col-sm-4 ">
                        

                    <div class="checkbox">

                    <%=f.radio_button :producetype,"Vegetable",:checked => true %> Vegetable</div>

                    <div class="checkbox">
                    <%=f.radio_button :producetype,"Fruit",:checked => true %> Fruit</div>

                    <div class="checkbox">
                    <%=f.radio_button :producetype,"Flower",:checked => true %> Flower</div>

                    <div class="checkbox">
                    <%=f.radio_button :producetype,"Meat",:checked => true %> Meat</div>
                </div>

                <div class="col-sm-4">
                  <div class="checkbox">
                    <%=f.radio_button :producetype,"Grain",:checked => true %> Grain</div>
                  <div class="checkbox">
                    <%=f.radio_button :producetype,"Poultry",:checked => true %> Poultry</div>
                  <div class="checkbox">
                    <%=f.radio_button :producetype,"Dairy Product",:checked => true %> Dairy Product</div>
                    <div class="checkbox">
                    <%=f.radio_button :producetype,"Seafood",:checked => true %> Seafood</div>
                </div>
              </div>






    <div class="funkyradio">
        <div class="funkyradio-default">
            <input type="radio" name="radio" id="radio1" />
            <label for="radio1">First Option default</label>
        </div>
        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio2" checked/>
            <label for="radio2">Second Option primary</label>
        </div>   
    </div>
</div>













                  <div class="field"><br>
                    <%= f.label "Produce time:" %></br>  <div><br>
                     <div class='input-group date' id='datetimepicker5'>
                    <%= f.text_field :producedate , :class => "form-control"%></br>  
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                  </div></div>


                  <%= f.label "Produce quantity:" %>
                  <div class="input-group input-group-lg col-md-10">
                   <%= f.text_field :producequantity, :class => "form-control", :placeholder => "Quantity in kilogram" %>
                   <span class="input-group-addon" id="basic-addon2">KG</span>
                  </div>


                  <div class="input-group input-group-lg col-md-10">
                    <%= f.label "Produce information:" %>
                    <%= f.text_area :producedescription, :class => "form-control", :placeholder => "Detail information" %>
                  </div>



              </div>
            </div>

          <center><div class="actions">
              <%= f.submit 'Create',class: 'btn btn-lg btn-success'%>
          </div></center>

        <% end %>
      </div>
  </div>
    <div class="col-sm-1"></div>
</div>

<script type="text/javascript">
    $(function () {
        $("#produce_producedate").datetimepicker();
    });
</script>