<%= form_for(produce,html:{multipart: true}) do |f| %>
  <% if produce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produce.errors.count, "error") %> prohibited this produce from being saved:</h2>

      <ul>
      <% produce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="row">
        <div class="col-sm-4"></div>

            <div class="col-sm-4">
                <div class="well">
              <div class="panel panel-default">
                <div class="panel-body">
                 <div class="field">
                  <%= f.label "Farm Name" %>
                  <div class="input-group input-group-lg " %>
                  <%= f.collection_select(:farmsite_id,Farmsite.where(broker_id:current_broker.id),:id,:farmsitename,{:prompt=>"Please Select"},{:class => "form-control",readonly: true})%>
                  </div>
                  </div>


                  <div class="input-group input-group-lg col-md-10">
                    <%= f.label "Name:" %>
                    <%= f.text_field :producename, :class => "form-control", :placeholder => "Product name" %>
                  </div>
                  <br>
                  <div class="input-group input-group-lg col-md-10">
                    <%= f.label "Produce picture:" %>
                    <%= f.file_field :avatar %>
                  </div>
                 <!--  <br>
                  <div class="input-group input-group-lg col-md-10">
                    <%= f.label "Upload Image:" %>
                    <%= f.text_field :produceimage, :class => "form-control", :placeholder => "Add image link" %>
                  </div> -->
               <br>
               <%= f.label "Produce type :" %></br>
                <div class="row">
                      <div class="col-sm-4">

                    <div class="checkbox">
                    <%=f.radio_button :producetype,"Vegetable",:checked => true %> Vegetable</div>

                    <div class="checkbox">
                    <%=f.radio_button :producetype,"Fruit",:checked => true %> Fruit</div>

                    <div class="checkbox">
                    <%=f.radio_button :producetype,"Flower",:checked => true %> Flower</div>

                    <div class="checkbox">
                    <%=f.radio_button :producetype,"Meat",:checked => true %> Meat</div>
                </div>

                <div class="col-sm-4">
                  <div class="checkbox">
                    <%=f.radio_button :producetype,"Grain",:checked => true %> Grain</div>
                  <div class="checkbox">
                    <%=f.radio_button :producetype,"Poultry",:checked => true %> Poultry</div>
                  <div class="checkbox">
                    <%=f.radio_button :producetype,"Dairy Product",:checked => true %> Dairy Product</div>
                    <div class="checkbox">
                    <%=f.radio_button :producetype,"Seafood",:checked => true %> Seafood</div>
                </div>
              </div>


                  <div class="field"><br>
                    <%= f.label "Produce time:" %></br>  <div><br>
                    <%= f.datetime_select :producedate , :class => "form-control"%></br>  </div>
                  </div>


                  <%= f.label "Produce quantity:" %>
                  <div class="input-group input-group-lg col-md-10">
                   <%= f.text_field :producequantity, :class => "form-control", :placeholder => "Quantity in kilogram" %>
                   <span class="input-group-addon" id="basic-addon2">KG</span>
                  </div>


                  <div class="input-group input-group-lg col-md-10">
                    <%= f.label "Produce information:" %>
                    <%= f.text_area :producedescription, :class => "form-control", :placeholder => "Detail information" %>
                  </div>



              </div>
            </div>

          <center><div class="actions">
              <%= f.submit 'Create',class: 'btn btn-lg btn-success'%>
          </div></center>

        <% end %>
      </div>
  </div>
    <div class="col-sm-1"></div>
</div>

