<center>


  <div class="container">

    <div class="row">
      <div class="col-sm-12"><h1>List Produces</h1></div>
      <h1><%=@farmsite.farmsitename %></h1>
      <table class="table table-striped custab" id="dttb">
        <thead>
          <tr>
            <th>Produce Name</th>
            <th>Produce Type</th>
            <th>Produce Date</th>
            <th>Produce Quantity(KG)</th>
            <th>Produce Description</th>
            <th>Farm Name</th>
            <th>Broker Name</th>
            <th>Produce Picture</th>
            <th width="17%"></th>
          </tr>
        </thead>

        <tbody>

          <% @produces.each do |produce| %>

          <tr>
            <td><%= produce.producename %></td>
            <td><%= produce.producetype %></td>
            <!-- <td><img src="<%= produce.produceimage %>"/></td> -->
            <td><span><%= produce.producedate.try(:strftime,"%d/%m/%Y") %></span>
              <br><span><%= produce.producedate.try(:strftime,"%I:%M %p") %></span>
            </td>
            <td><%= produce.producequantity %></td>
            <td><%= produce.producedescription %></td>
            <td><%= produce.farmsite.farmsitename rescue nil%></td>
            <td><%= produce.broker.name rescue nil %></td>
            <td><%= image_tag produce.avatar.url (:thumb)%></td>
            
         

            <td ><% if user_signed_in? and produce.farmer == current_user.meta %>
              <%= link_to edit_produce_path(produce, farmsite_id: @farmsite.id)   , class: "btn btn-primary btn-sm", remote: true  do %>
              <i class= "glyphicon glyphicon-edit">  </i> Edit <% end %>

              <%= link_to  produce_path(produce,farmsite_id: params[:farmsite_id]), method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-sm" do %> <i class= "glyphicon glyphicon-remove">  </i> Remove <% end %>

            </td>
            <%end%>
          </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <% if user_signed_in? and  @farmsite.present? %><%= link_to 'New Produce', new_produce_path(farmsite_id: @farmsite.id) , class: "btn btn-success btn-sm" , data: {turbolinks: false}, remote: true %><%end%>
    </center></div>


    <script >

      $("#dttb").dataTable();
    </script>