<div class="container2">

</center>
<!-- left --> 

  <div class="col-md-6 left-pane" style="height:300px;line-height:3em;overflow:scroll;padding:5px;">
    <%= render 'search' %>
    <% @produces.each_with_index do |produce,i| %>
    <a href="<%= produce_path(id: produce.id) %>">

      <div class='col-md-6 produce-hover' produce-index="<%= i %>" produce-id="<%= produce.id %>">

        <div class="panel panel-default">

        <div class="panel-heading"><center><h4><%= produce.producename %></h4></center></div>

          <div class="panel-body">

            <%= image_tag produce.avatar.url,class: "img-responsive",style: "height:200px;"%> 

            <table class="table">

              <tr><th><strong>Farm: </strong></th><td><%= produce.farmsite.farmsitename %></td></tr>
              <tr><th><strong>Company: </strong></th><td><%= produce.farmsite.farmer.user.meta.company_name %></td></tr>
              <tr><th><strong>Location: </strong></th><td><%= produce.farmsite.farmsitecity %>, <%= produce.farmsite.farmsitestate %></td></tr>

            </table>
            
          </div>
        </div>
      </div>
      </a>
    <%end%>
  </div>

<div class="col-md-6 right-pane">
      <div id="mapCanvas" style=' width: 100%; height: 300px;'></div>
    </div>

</div>




<script>
$(".left-pane , .right-pane, #mapCanvas").height( $("html").height() - 130 )
var bounds = new google.maps.LatLngBounds();

var map = new google.maps.Map(document.getElementById('mapCanvas'), {
      zoom: 7,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

   


if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(successCallback,errorCallback,{timeout:10000});
        // navigator.geolocation.getCurrentPosition(showPosition);
    } else {

    }
function errorCallback(error){
  var latLong;
  $.getJSON("http://ipinfo.io", function(ipinfo){
      console.log("Found location ["+ipinfo.loc+"] by ipinfo.io");
      latLong = ipinfo.loc.split(",");
      var latLng = {lat: latLong[0], lng: latLong[1]};
      showPosition(latLng);

  });
}

function successCallback(position){
  latlng = { lat: position.coords.latitude , lng: position.coords.longitude }
  showPosition(latlng)
}

//get current position
function showPosition(position) {
  var latLng = new google.maps.LatLng(position.lat, position.lng);

  var image = "<%= image_url('here.png', size:"20x32")%>";

  //user current location
  var youAreHere = new google.maps.Marker({
    position: latLng,
    title: "Your Location",
    map: map,
    icon: image
  });

  

 var circle = new google.maps.Circle({
  map: map,
  radius: 2000,    // 10 miles in metres
  strokeColor: '#EE82EE ',
  strokeOpacity: 0.8,
  strokeWeight: 2,
  fillColor: '#EE82EE',
  fillOpacity: 0.35
  });

  circle.bindTo('center', youAreHere, 'position');

 // // infowindow for current location
  var here = new google.maps.InfoWindow({
        content: 'You Are Here! '
    });

  here.open(map,youAreHere);
  bounds.extend(latLng);
  map.fitBounds(bounds);

}

//markers for all produces
tmps =[]

  <% @produces.each_with_index do |produce,i| %>
    var marker<%= i %> = new google.maps.Marker({
      position: {lat: <%= produce.farmsite.latitude %>, lng: <%= produce.farmsite.longitude %>},
      title: '<%= produce.farmsite.farmsitename %>',
      map: map
     });

    bounds.extend({lat: <%= produce.farmsite.latitude %>, lng: <%= produce.farmsite.longitude %>});

    map.fitBounds(bounds);

    tmps.push(marker<%= i %>)

    var infowindow<%= i %> = new google.maps.InfoWindow({
          content: '<a class="iHover<%= produce.id %>" produce-id="<%= produce.id %>" href="<%= produce_path(id: produce.id) %>"><%= produce.farmsite.farmsitename %></a>' + '<br/>' + 'Produces: ' + '<%= produce.farmsite.produces.map{|x| x.producename }.join(", ") %>'
        
      });

    marker<%= i %>.addListener('click', function() {
      infowindow<%= i %>.open(map, marker<%= i %>);
      $(".iHover<%= produce.id %>").on('mouseenter', function(e){
        $("[produce-id=<%= produce.id %>]").addClass('highlightedProduce')
      })
      $(".iHover<%= produce.id %>").on('mouseleave', function(e){
        $("[produce-id=<%= produce.id %>]").removeClass('highlightedProduce')
      })
    });
  <% end %>

</script>

<style type="text/css">
  .highlightedProduce {
    background: #ADD8E6;
  }
  body {
    display:flex;
  }
</style>