<center>
<p id="notice"><%= notice %></p>


  <div class="container">
    <div class="row">
      <div class="col-sm-12"><h1>List Produces</h1></div>
    </div>
<table class="table table-bordered" width="50">
  <thead>
    <tr>
      <th>Produce Name</th>
      <th>Produce Type</th>
      <th>Produce Date</th>
      <th>Produce Quantity</th>
      <th>Produce Description</th>
      <th>Farm Name</th>
    </tr>
  </thead>

  <tbody>
    <% @produces.each do |produce| %>
      <tr>
        <td><%= produce.producename %></td>
        <td><%= produce.producetype %></td>
        <td><%= produce.producedate %></td>
        <td><%= produce.producequantity %></td>
        <td><%= produce.producedescription %></td>
        <td><%= produce.farmsite.farmsitename %></td>
        <% if broker_signed_in? %>
        <td><%= link_to 'Show', produce %></td>
        <td><%= link_to 'Edit', edit_produce_path(produce) %></td>
        <td><%= link_to 'Destroy', produce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if broker_signed_in? %><%= link_to 'New Produce', new_produce_path %><%end%>
</center></div>