<p id="notice"><%= notice %></p>

<p>
<%= image_tag @produce.avatar.url (:medium)%>
</p>

<p>
  <strong>Producename:</strong>
  <%= @produce.producename %>
</p>

<p>
  <strong>Producetype:</strong>
  <%= @produce.producetype %>
</p>

<p>
  <strong>Producedate:</strong>
  <%= @produce.producedate %>
</p>

<p>
  <strong>Producequantity:</strong>
  <%= @produce.producequantity %>
</p>

<p>
  <strong>Producedescription:</strong>
  <%= @produce.producedescription %>
</p>

<p>
  <strong>Farmsiteid:</strong>
  <%= @produce.farmsite_id %>
</p>

<!-- <p>
  <strong>Farmsiteid:</strong>
  <%= @produce.produceimage %>
</p>
 -->

<%= link_to 'Edit', edit_produce_path(@produce) %> |

