
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>

<%= simple_form_for([@farmsite, @farmsite.reviews.build]) do |f| %>

  <div class="form-inputs">
  	<%= f.label "Rating" %>
  	<div id="rateYo"></div>
    <%= f.input :rating ,:as => :hidden%>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>




<script>

$(function () {
 
  $("#rateYo").rateYo({
 
    onSet: function (rating, rateYoInstance) {
 
      //alert("Rating is set to: " + rating);
      $("#review_rating").val(rating)
    }
  });
});

</script>
