<!DOCTYPE html>
<html>
<head>
	<title>Farmbroker</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<style>
	.navbar {
		height: 90px;
		 margin-bottom: 0;
		 border-radius: 0;
	 }
	/* Remove the navbar's default margin-bottom and rounded borders */
.carousel-inner img {
		width: 100%; /* Set width to 100% */
		margin: auto;
		min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
	.carousel-caption {
		display: none;
	}
}
</style>

</head>
  <body>
  <!--Navigation Bar Here -->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag 'logo-farm.png', width: '70px' %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= root_path  %>">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Auction News</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Register</a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Bidder', new_bidder_registration_path %></li>
            <li><%= link_to 'Broker', new_broker_registration_path %></li>
          </ul>
        </li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
          <ul class="dropdown-menu">
            <li><a href="<%= new_bidder_session_path %>">Bidder</a></li>
            <li><a href="<%= new_broker_session_path %>">Broker</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--End of Navigation Bar -->
<br>
<br>
  <!--Please use div class container in your page so it come out perfect!-->
    <%= yield %>
  </body>


</html>





</head>
</html>

