<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
  <div class="row">
   <h2><center>User Profile</center></h2>
<div class="well">
        
        <div class="col-sm-6">
       
          <div class="panel panel-default" style="padding: 20px">
           

            <h3>Login Credentials</h3>
            <%= f.input :email, class:'form-control' ,readonly: true%>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <%= f.input :password, autocomplete: "off", class:'form-control',label: "New Password" %>
            <% if @minimum_password_length %>
            <span class="glyphicon glyphicon-info-sign">&nbsp;</span><em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
            <%= f.input :password_confirmation, autocomplete: "off", class:'form-control' ,label: "New Confirmation Password"%>
            <div class="field">

            <%= f.input :current_password, autocomplete: "off", class:'form-control' %>

              <%= f.label :timezone %><br />
              <%= f.time_zone_select :timezone, nil, {}, {class: 'form-control'} %>
            </div>
            
           
            
          </div>
          <div class="panel panel-default" style="padding: 20px">
           <h3>Attachment</h3>
            <%= f.label "Profile Photo:" %>
            <%= f.input :profilephoto ,label: false%>
            </div>
        </div>






    <div class="col-md-6">

      <%= f.simple_fields_for :meta do |g| %>
      <%= g.error_notification %>
      <div class="panel panel-default" style="padding: 20px">
       <h3>Profile Info</h3>
              <div class="form-inputs">
                <%= g.input :name ,label: "Full Name:" %>
                <%= g.label 'Date of Birth' %><br>
                  <div class='input-group date' id='datetimepicker4'>
                    <%= g.text_field :dob, autofocus: true, class:'form-control'%>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div><br>
                  <%= g.input :address %>
                  <%= g.input :phone %>

                  <!--<%# if current_user.meta_type == "Farmer" or current_user.meta_type == "Broker" %>
                  <%#= g.input :account_no %>
                  <%# elsif current_user.meta_type == "Bidder"%>
                  <%#= g.input :credit_card %>
                  <%#end%>-->
                  <%if current_user.meta_type == "Farmer" %>
                    <%= g.input :company_name %>
                    <%= g.input :company_phone %>
                  <% end %>
              </div>
              </div>  
        </div>
      <div class="actions" align="right"><%= f.submit "Update Profile", class: 'btn btn-success btn-md' %></div><br>
    </div>
  <div align="center"><%= link_to "Back", :back, class: 'btn btn-primary btn-md' %></div><br>
<%end%>
<%end%>
</div>
</div>




<script type="text/javascript">
 $(function () {
   $('#datetimepicker4').datetimepicker(
   {
     format: 'YYYY-MM-DD'
   }
   );
 });
</script>
